<div class="loading-spinner">
    <mat-spinner *ngIf="!event"
                mode="indeterminate">
    </mat-spinner>
</div>

<div class="full-container">
  <div *ngIf="event" class="detail-card">
    <div class="theme-header primary-background-color">
      <img class="event-image"
           [src]="event.image_url"
           src-fallback="/assets/placeholder.png">

      <div class="card-header">
        <div class="event-name">{{ event.name }}</div>
        <div class="event-time">{{ dataService.GetDate(event.start_time) }} | {{ event.venues_str }}</div>
        <button mat-mini-fab color="accent"
              (click)="openEventEdit()"
              class="edit-button"
              style="box-shadow: none"
              *ngIf="dataService.CanEditEvent(event)">
            <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <div style="text-align:center">
        <button mat-button>INTERESTED</button>
        <button mat-button>GOING</button>
    </div>
    <div class="description">
      <p class="multi-line-text">
        {{ event.description }}
      </p>
    </div>

    <!-- Bodies conducting the event -->
    <div>
        <app-body-card 
          *ngFor="let body of event.bodies"
          [body]="body">
      </app-body-card>
    </div>
  </div>
</div>