<app-xunk-spinner *ngIf="!event" [error]="error"></app-xunk-spinner>

<div [class.desktop-10px]="!desktopMode"></div>

<div>
  <div *ngIf="event"
        class="detail-card"
       [class.real-center]="!noCenter"
       [class.full-width]="desktopMode"
       [class.mat-elevation-z2]="!desktopMode">
    <div class="theme-header primary-background-color">
      <img class="event-image"
           [src]="event.image_url"
           alt="">

      <div class="card-header">
        <div>
          <div class="event-name">{{ event.name }}</div>
          <div class="event-time">{{ dataService.GetDate(event.start_time) }} | {{ event.venues_str }}</div>
        </div>

        <div class="action-buttons">
          <button mat-icon-button
                (click)="openEventEdit()"
                *ngIf="dataService.CanEditEvent(event)">
              <mat-icon>edit</mat-icon>
          </button>
          <a mat-icon-button
            *ngIf="event.website_url && event.website_url !== ''"
            [href]="event.website_url"
            target="_blank"
            rel="noopener">
            <i class="fas fa-globe fa-lg"></i>
          </a>
          <button mat-icon-button
                 (click)="share()">
              <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>

      <div class="share-div" *ngIf="shareShowing">
          <app-my-share-buttons [url]="shareUrl()"></app-my-share-buttons>
      </div>

    </div>

    <div style="text-align:center">
        <mat-checkbox [ngModel]="event.user_ues === 1"
                      (change)="markUES(1);"
                      [disabled]="!dataService.isLoggedIn()">
          INTERESTED
        </mat-checkbox>
        &nbsp;&nbsp;&nbsp;
        <mat-checkbox [ngModel]="event.user_ues === 2"
                      (change)="markUES(2);"
                      [disabled]="!dataService.isLoggedIn()">
          GOING
        </mat-checkbox>
    </div>

    <div class="event-body">
      <div class="description markdown">
        <markdown [data]="event.description"></markdown>
      </div>

      <!-- Bodies conducting the event -->
      <div>
          <app-body-card
            *ngFor="let body of event.bodies"
            [body]="body">
        </app-body-card>
      </div>
    </div>
  </div>
</div>

<div class="desktop-10px"></div>
