.detail-card {
    z-index: 3;
    min-height: 60vh;
}

@media (max-width: 767px) {
    .detail-card {
        min-height: 100vh;
        margin-bottom: 0;
    }
}

.event-image {
    width:100%;
    height:auto;
}

.card-header {
    padding: 12px;
    padding-bottom: 3px;
    position: relative;
}

.edit-button {
    position: absolute;
    top: 12px;
    right:25px;
}

.event-name {
    font-weight: bold;
    font-size: 14pt;
    padding-left: 10px;
}

.event-time {
    color: whitesmoke;
    font-size: 10pt;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 12px;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
}
