<app-xunk-spinner *ngIf="!event" [error]="error"></app-xunk-spinner>

<ng-container *ngIf="event && desktopMode">
  <ng-container *ngTemplateOutlet="centerlayout"></ng-container>
</ng-container>

<app-desktop-split *ngIf="event && !desktopMode"
    [rightLeftBorder]="false"
    [centerRightBorder]="true">

  <div center>
    <ng-container *ngTemplateOutlet="centerlayout"></ng-container>
  </div>

  <div right class="right">
    <div class="section">
      <div class="rl-header sm">{{ event.name }}</div>
      <div class="markdown">
        <div [innerHTML]="dataService.processMDHTML(event.description | markdown)"></div>
      </div>
    </div>

    <div class="section">
      <div class="rl-header sm">Following</div>
      <app-user-card *ngFor="let user of event.interested.concat(event.going)"
                      [profile]="user"
                      [role]="user.ldap_id">
      </app-user-card>
    </div>

  </div>

</app-desktop-split>

<ng-template #centerlayout>
  <div>
    <div class="theme-header primary-background-color">
      <img class="event-image"
            [src]="event.image_url"
            alt="">

      <div class="card-header">
        <div>
          <div class="event-name">{{ event.name }}</div>
          <div class="event-time">{{ dataService.GetDate(event.start_time) }} | {{ event.venues_str }}</div>
        </div>

        <div class="action-buttons">
          <button mat-icon-button
                (click)="openEventEdit()"
                *ngIf="dataService.CanEditEvent(event)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                 [routerLink]="['/event', event.str_id]"
                 *ngIf="desktopMode">
              <mat-icon>open_in_new</mat-icon>
          </button>
          <a mat-icon-button
            *ngIf="event.website_url && event.website_url !== ''"
            [href]="event.website_url"
            target="_blank"
            rel="noopener">
            <i class="fas fa-globe fa-lg"></i>
          </a>
          <button mat-icon-button
                  (click)="share()">
              <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>

      <div class="follow-div">
        <button mat-button
                class="follow-button"
              [class.following]="event.user_ues === 1"
              (click)="markUES(1);"
              [disabled]="!dataService.isLoggedIn()">
          Interested
        </button>
        <button mat-button
                class="follow-button"
              [class.following]="event.user_ues === 2"
              (click)="markUES(2);"
              [disabled]="!dataService.isLoggedIn()">
          Going
        </button>
      </div>

      <div class="share-div" *ngIf="shareShowing">
          <app-my-share-buttons [url]="shareUrl()"></app-my-share-buttons>
      </div>
    </div>

    <div class="event-body">
      <div class="description markdown" *ngIf="desktopMode || dataService.isMobile()">
        <div [innerHTML]="dataService.processMDHTML(event.description | markdown)"></div>
      </div>

      <!-- Bodies conducting the event -->
      <div class="bodies">
          <app-body-card
            *ngFor="let body of event.bodies"
            [body]="body">
        </app-body-card>
      </div>
    </div>
  </div>
</ng-template>
