.clickable{
    cursor: pointer;
}

.gray-fill-btn{
    color: #767881;
}

div.postmain {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    /* border-radius: 15px; */
    background: white;
    /* margin: 5px; */
}

.avatar {
    width: 0px;
}

.avatar img {
    position: relative;

    border: 4px solid white;
    /* border: 4px solid black; */
    border-radius: 500px; /* any ridiculously large radius would work for making a circle, apparently*/
    
    height: 38px;
    width: 38px;
    background: url('assets/lotus_placeholder.png') no-repeat;
    background-size: contain;
}

.user_date {
    position: relative;
}

.user {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 140%; */

}

.date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #767881;
}

p {
    margin: 2px;
}

.content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    padding: 0px 6px;

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #000000c2;
    margin-bottom: 16px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.reactions {
    background: #E4E8EE;
    border-radius: 18px;
    display: initial;
    overflow: auto;
    padding: 5px;

    vertical-align: middle;
}

table {
    table-layout: auto;
}

tr,
td {
    white-space: nowrap;
}

.noBorder {
    border: 0px;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.noResponse {
    display: inline-block;

}

.share {
    display: inline-block;
    position: relative;
}

.comments {
    position: relative;
    left: 26.25px;
    display: inline-block;
}

.emoji {

    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.footer {
    /* display: flex;
    flex-direction: row; */
    /* width: 100%; */


    height: 40px;
    padding: 10px;
    margin: 0px -10px -10px -10px;

    /* border-radius: 15px; */
    background: #FFFFFF;
    box-shadow: 0px -6px 30px -27px #000000;

    border-radius: 0 0 15px 15px;
    /* margin: 5px; */
}

.images {

    background: #F6F7F8;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: inherit;
    display: block;

}

.footer div {
    margin-left: 1px;
    margin-right: 1px;
}


.inline {
    display: inline;
}

div.ghost-main {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: 0px 10px;
    background: white;
}
.ghost-content-container{
    position: relative;

    vertical-align: middle;
}
p.ghost-content{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin-left: 6px;
    padding: 12px;

    background-color: #F0F2F7;

    color: #5E6067;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
}

.comment-input-container {
    background-color: #E8ECF2;
    /* background-color: #0c326b; */
    box-sizing: border-box;

    padding: 10px;
    margin: 6px -10px;

    /* flex: none;
    order: 2;
    flex-grow: 0; */

    height: 56px;

    position:relative;
}


#comment-content-input {
    background-color: #FFFFFF;
    box-sizing: border-box;
    
    width: 100%;
    height: 36px;
    
    padding: 6px 9px;
    
    border-radius: 5px;
    border: 0px solid white;
}

.comment-thread-container {
    padding-left: 12px;
    margin-right: -20px;
}
.comment-thread-subcontainer {
    border-left: 1px solid #C7C7C7;
    /* padding-left: 6px; */
}
/* .comment-rank-indicator{
    display:block;
    position:relative;
    top:60px;
    height: calc(100% - 60px);
    left:0;
    width: 2px;
    background-color: rgba(0,0,0,0.1);
} */

.btn_view-more-comments{
    margin: -10px;
    margin-top: 0px;
    padding: 6px 0px;

    /* border: 1px solid red; */
    box-shadow: 0px -7px 29px -13px #0A0E32;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #47484D;

    border-radius: 0 0 15px 15px;
}

.btn_view-more-comments p{
    font: 12px 'Roboto';
}