<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<div class="postmain">
  <table width="100%">

    <tr>

      <td align="left" class="avatar">
        <ng-container *ngIf="post.postedBy.profile_pic; else default_avatar">
          <img [src]="post.postedBy.profile_pic" class="img-circle object-cover">
        </ng-container>
        <ng-template #default_avatar>
          <img src="assets/logo.png" class="img-circle object-cover" />
        </ng-template>
      </td>

      <td class="user_date">
        <p class="user">{{ post.postedBy.name }}</p>
        <p class="date"> {{ printable_date }}</p>
      </td>
      <td align="right">
        <mat-icon class="icon_more">more_vert</mat-icon>
      </td>
    </tr>
  </table>

  <table width="100%">
    <p class="content">
    {{ post.content }}
    </p>

  </table>

  <div class="images">


    <!-- <img
      src="https://media.pitchfork.com/photos/620e81cad8bc62857b465cc3/2:1/w_2560%2Cc_limit/Stranger-Things-Season-4.jpg"
      class="img-responsive" style="width:100%; box-shadow: 2px; padding-bottom: 5px;"> -->
    <ng-container *ngFor="let imgUrl of post.imageUrl">
      <img
        [src]="imgUrl"
        class="img-responsive" style="width:100%; box-shadow: 2px; padding-bottom: 5px;">
    </ng-container>


  </div>
  <div class="footer">
    <table width=100%>
      <tr>
        <td>
          <div class="inline">
            <img class="emoji noResponse" src='assets/emojis/like.png' alt='x'>
          </div>


          <div class="reactions">
            <img class="emoji noResponse" src='assets/emojis/loveeye_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/angry_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/laugh_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/sad_emoji.png' alt='x'>
          </div>


          <div class="noResponse">
            <span> {{ num_reactions }}</span>
          </div>



          <div class="comments noResponse">
            <img class="emoji noResponse" src='assets/icons/comment.png' alt='x'>
          </div>


        </td>


        <td align="right">
          <mat-icon class="icon_more">share</mat-icon>
        </td>







      </tr>
    </table>
  </div>

</div>