<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<div 
  class="postmain"
  [ngStyle]="{
    'border-radius.px': post_border_radius 
  }"
>
  <table width="100%">

    <tr>

      <td align="left" class="avatar">
        <ng-container *ngIf="post.posted_by.profile_pic; else default_avatar">
          <img 
            [src]="post.posted_by.profile_pic" 
            class="img-circle object-cover"
            [ngStyle]="{ 'left.px': pic_offset }"
          >
        </ng-container>
        <ng-template #default_avatar>
          <img 
            src="assets/logo.png" 
            class="img-circle object-cover"
            [ngStyle]="{ 'left.px': pic_offset }"
          >
        </ng-template>
      </td>

      <td 
        class="user_date"
        [ngStyle]="{ 'left.px': name_offset }"
      >
        <p class="user">{{ post.posted_by.name }}</p>
        <p class="date"> {{ printable_date }}</p>
      </td>
      <td align="right">
        <mat-icon class="icon_more clickable">more_vert</mat-icon>
      </td>
    </tr>
  </table>

  <table width="100%">
    <p class="content">
    {{ post.content }}
    </p>

  </table>

  <div *ngIf="render_images" class="images">


    <!-- <img
      src="https://media.pitchfork.com/photos/620e81cad8bc62857b465cc3/2:1/w_2560%2Cc_limit/Stranger-Things-Season-4.jpg"
      class="img-responsive" style="width:100%; box-shadow: 2px; padding-bottom: 5px;"> -->
    <ng-container *ngFor="let imgUrl of post.image_url">
      <img
        [src]="imgUrl"
        class="img-responsive" style="width:100%; box-shadow: 2px; padding-bottom: 5px;">
    </ng-container>


  </div>
  <div class="footer">
    <table width=100%>
      <tr>
        <td>
          <div class="inline">
            <img class="emoji noResponse clickable" src='assets/emojis/like.png' alt='x'>
            <!-- <mat-icon class="emoji noResponse clickable gray-fill-btn">thumb_up</mat-icon> -->
          </div>


          <div class="reactions clickable">
            <img class="emoji noResponse" src='assets/emojis/loveeye_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/angry_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/laugh_emoji.png' alt='x'>
            <img class="emoji noResponse" src='assets/emojis/sad_emoji.png' alt='x'>
          </div>


          <div class="noResponse">
            <span> {{ num_reactions }}</span>
          </div>



          <div *ngIf="is_rank_one" class="comments noResponse clickable">
            <img class="emoji noResponse" src='assets/icons/comment.png' alt='x'>
            <!-- <mat-icon class="emoji noResponse gray-fill-btn">comment</mat-icon> -->
          </div>
          <div
            *ngIf="!is_rank_one" 
            (click)="toggleShowInput()"
            class="comments noResponse clickable"
            clickable>
            <mat-icon class="emoji noResponse gray-fill-btn">reply</mat-icon>
          </div>


        </td>


        <td align="right">
          <mat-icon class="icon_more clickable">share</mat-icon>
        </td>







      </tr>
    </table>

    
  </div>

  <div *ngIf="show_comment_input" class="comment-input-container">
    <input id="comment-content-input" placeholder="Add a comment...">
  </div>

  <div *ngIf="show_comment_thread" class="comment-thread-container">
    <div class="comment-thread-subcontainer">
      <ng-container *ngFor="let comment of post.comments">
        <app-communitypost-card [post]="comment" show_comment_thread="true"></app-communitypost-card>
      </ng-container>
    </div>
  </div>

</div>