<app-xunk-spinner *ngIf="!hostels || error" [error]="error"></app-xunk-spinner>

<ng-container *ngIf="hostels">

  <div class="responsive-header">
    <div *ngIf="currHostel" class="rl-header selected-hostel" [matMenuTriggerFor]="hostelMenu">
      {{ currHostel.name }}
    </div>

    <button class="pick-hostel" mat-icon-button [matMenuTriggerFor]="hostelMenu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #hostelMenu="matMenu">
      <button mat-button
              *ngFor="let hostel of hostels"
              (click)="selectHostel(hostel)"
              class="hostel-menu-button">
        {{ hostel.name }}
    </button>
    </mat-menu>
  </div>

  <div class="real-center" *ngIf="menu && dataService.isMobile()">
    <div class="mess-card mat-elevation-z1" *ngFor="let menuday of menu">
      <div class="mess-card-head">{{ daysOfWeek[menuday.day] }}</div>
      <div class="time">
        <div class="time-head">Last Updated: {{menuday.last_update}}</div>
      </div>
      <div class="time">
        <div class="head">Breakfast</div>
        <div class="menu">{{ menuday.breakfast }}</div>
      </div>
      <div class="time">
        <div class="head">Lunch</div>
        <div class="menu">{{ menuday.lunch }}</div>
      </div>
      <div class="time">
        <div class="head">Snacks</div>
        <div class="menu">{{ menuday.snacks }}</div>
      </div>
      <div class="time">
        <div class="head">Dinner</div>
        <div class="menu">{{ menuday.dinner }}</div>
      </div>
    </div>
  </div>

  <div class="desktop desktop-main" *ngIf="menu && !dataService.isMobile()">
    <div class="menu" *ngFor="let menuday of menu">
      <div class="rl-header day">{{ daysOfWeek[menuday.day] }}</div>
      <div class="time">
        <div class="time-head">Last Updated: {{menuday.last_update}}</div>
      </div>
      <div class="time">
        <div class="time-head">Breakfast</div>
        {{ menuday.breakfast }}
      </div>
      <div class="time">
        <div class="time-head">Lunch</div>
        {{ menuday.lunch }}
      </div>
      <div class="time">
        <div class="time-head">Snacks</div>
        {{ menuday.snacks }}
      </div>
      <div class="time">
        <div class="time-head">Dinner</div>
        {{ menuday.dinner }}
      </div>
    </div>
  </div>

</ng-container>