<ng-container *ngIf="url">
    <share-button button="facebook" theme="material-dark" [url]="url" size=-2></share-button>
    <share-button button="twitter" theme="material-dark" [url]="url" size=-2></share-button>
    <share-button button="whatsapp" theme="material-dark" [url]="url" size=-2></share-button>
    <share-button button="copy" theme="material-dark" [url]="url" size=-2></share-button>
</ng-container>

<ng-container *ngIf="!url">
    <share-button button="facebook" theme="material-dark" size=-2></share-button>
    <share-button button="twitter" theme="material-dark" size=-2></share-button>
    <share-button button="whatsapp" theme="material-dark" size=-2></share-button>
    <share-button button="copy" theme="material-dark" size=-2></share-button>
</ng-container>
