<app-xunk-spinner *ngIf="!profile" [error]="error"></app-xunk-spinner>

<div *ngIf="profile" class="main">
  <!-- Head information -->
  <div id="head">
    <img [src]="profile.profile_pic"
         src-fallback="assets/useravatar.svg"
         class="profile-pic img-circle object-cover">
    <div id="info-header">
      <div class="rl-header sm">{{ profile.name }}</div>
      <span class="sub-name">
        {{ profile.roll_no }}

        <ng-container *ngIf="hasField('email')">
          <br><a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
        </ng-container>

        <ng-container *ngIf="hasField('contact_no')">
          <br><a href="tel:{{ profile.contact_no }}">{{ profile.contact_no }}</a>
        </ng-container>
      </span>
    </div>
  </div>

  <!-- Roles -->
  <div class="body-cards" *ngIf="profile.roles.length > 0">
    <app-body-card *ngFor="let role of profile.roles"
                  [body]="role.body_detail"
                  [subtitle]="role.name"
                  class="body">
    </app-body-card>
  </div>

  <div>
    <div class="follow-sec">
      <div class="rl-header sm">Following</div>
      <app-body-card
        *ngFor="let body of profile.followed_bodies"
        [body]="body">
      </app-body-card>
    </div>

    <div class="follow-sec">
      <div class="rl-header sm">Events</div>
      <app-event-card
          *ngFor="let event of events"
          [event]="event">
      </app-event-card>
    </div>
  </div>
</div>