<div class="loading-spinner">
    <mat-spinner *ngIf="!profile"
                mode="indeterminate">
    </mat-spinner>
</div>

<div class="detail-card mat-elevation-z3" *ngIf="profile">
  <!-- Head information -->
  <div id="head">
    <img [src]="profile.profile_pic"
         src-fallback="/assets/useravatar.jpg"
         class="profile-pic img-circle">
    <div id="info-header">
      <b>{{ profile.name }}</b><br>
      <span class="grey-text-on-white">
        {{ profile.roll_no }}<br>
        {{ profile.email }}
      </span>
    </div>
  </div>

  <br>

  <div class="body-cards">
    <app-body-card *ngFor="let role of profile.roles"
                  [body]="role.body_detail"
                  [subtitle]="role.name">
    </app-body-card>
  </div>

  <br>

  <!-- Tabbed information -->
  <mat-tab-group class="tab-group" mat-stretch-tabs>
      <mat-tab label="Following">
          <app-body-card 
            *ngFor="let body of profile.followed_bodies"
            [body]="body">
          </app-body-card>
      </mat-tab>
      <mat-tab label="Events">
        <app-event-card
            *ngFor="let event of profile.events_going.concat(profile.events_interested)"
             [event]="event">
        </app-event-card>
      </mat-tab>
  </mat-tab-group>

</div>