:root{
    --cw_frac: 0.5;
}

@media (max-width: 767px) {
    .center-comp {
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}

.right-comp,
.center-comp {
    background-color: white;
}

@media (min-width: 768px) {
    .center-comp {
        position: relative;
        width: calc(var(--cw_frac)*100%);
        float: left;
        min-height: calc(100vh - 64px);
    }

    .right-comp {
        left: calc(((100vw - 240px) * (var(--cw_frac))) + 240px);
        top: 64px;
        height: calc(100vh - 64px);
        width: calc((100vw - 240px) * (1 - var(--cw_frac)));
        overflow-y: scroll;
        position: fixed;
    }

    /* .center-comp-group {
        position: relative;
        width: 63%;
        float: left;
        min-height: calc(100vh - 64px);
        background: #E8ECF2;
    }

    .right-comp-group {
        left: calc(((100vw - 240px) * (2/3)) + 240px);
        top: 64px; */
    /*  height: calc(100vh - 64px);
        width: calc(100vw - 240px - (100vw - 240px) * (2/3));
        overflow-y: scroll;
        position: fixed;
    } */

    .rightborder {
        border-right: 2px solid lightgray;
    }

    .leftborder {
        border-left: 2px solid lightgray;
    }
}

@media (min-width: 1200px) {
    .right-comp {
        left: calc(20vw + 80vw * var(--cw_frac));
        width: calc(80vw * (1 - var(--cw_frac)));
    }
/* 
    .right-comp-group {
        left: calc(70vw);
        width: calc(30vw);
    } */
}

@media (max-width: 960px) {
    .right-comp {
        left: calc(100vw * var(--cw_frac));
        width: calc(100vw * (1 - var(--cw_frac)));
    }

    /* .right-comp-group {
        left: calc(70vw);
        width: calc(30vw);
    } */
}