<div class="card">
  <table class="card-table">
    <tbody>
      <tr>
        <td *ngIf="avatar" class="avatar">
          <img [src]="avatar" class="img-circle object-cover" />
        </td>

        <td>
          <div class="content">
            <p>
              {{ title }}
            </p>
            <p *ngIf="followers" class="followers_posts">
              {{ followers }} followers
            </p>
            <p *ngIf="subtitle" class="card-sub-title">
              {{ subtitle }}
            </p>
          </div>
        </td>


        <td *ngIf="badge" class="badge">
          <img [src]="badge" class="img-circle object-cover" />
        </td>



      </tr>
    </tbody>
  </table>
</div>