.body-image {
    width:100%;
    height:auto;
}

.card-header {
    display: flex;
    padding: 20px;
    padding-bottom: 0;
}

.share-div {
    text-align: right;
    padding:0;
    margin:0
}

.theme-header {
    padding-bottom: 10px;
}

.action-buttons {
    margin-left: auto;
    margin-top: -10px;
}

.body-name {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 10px;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subtitle {
    margin: 0.8em 0 0.2em 0.4em;
    padding: 0;
    font-weight: 200;
    font-size: 2.5em;
}

.subsection {
    margin: 0;
    margin-top: 10px;
}

.float-fixed-right-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.desktop-right {
    padding: 0 20px;
}

.follow-button {
    float: right;
}

.following { color: #dadada; }
.follow-button:after { content: 'FOLLOW'; }
.following:after { content: 'FOLLOWING'; }

@media (max-width: 768px) {
    .subtitle {
        margin-left: 1em;
        font-size: 1.6em;
    }
}
