<app-xunk-spinner *ngIf="!body"></app-xunk-spinner>

<div class="full-container real-center">
  <div *ngIf="body" class="detail-card mat-elevation-z3">
    <div class="theme-header primary-background-color">
      <img class="body-image"
            [src]="body.image_url"
            alt="">

      <div class="card-header">
        <div class="body-name">{{ body.name }}</div>
        <div class="action-buttons">
          <button mat-icon-button
                *ngIf="dataService.HasBodyPermission(body.id, 'UpdB')"
                [routerLink]="['/edit-body', body.id]">
              <mat-icon>edit</mat-icon>
          </button>
          <a mat-icon-button
            *ngIf="body.website_url && body.website_url !== ''"
            [href]="body.website_url"
            target="_blank"
            rel="noopener">
            <i class="fas fa-globe fa-lg"></i>
          </a>
          <button mat-icon-button
                 (click)="share()">
              <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>

      <div class="share-div" *ngIf="shareShowing">
          <app-my-share-buttons></app-my-share-buttons>
      </div>
    </div>

    <div style="text-align:center">
        <mat-checkbox [ngModel]="dataService.followingBody(body.id)"
                      (change)="markFollow($event)"
                      [disabled]="!dataService.loggedIn">
          FOLLOW
        </mat-checkbox>
    </div>

    <div class="description markdown">
      <markdown [data]="body.description"></markdown>
    </div>

    <mat-divider></mat-divider>

    <div class="subsection" *ngIf="body.events.length > 0">
      <div class="subtitle">
        Upcoming Events
      </div>
      <ng-container *ngFor="let event of body.events">
        <app-event-card [routerLink]="['/event', event.id]"
                        [event]="event">
        </app-event-card>
      </ng-container>
      <mat-divider></mat-divider>
    </div>

    <div class="subsection" *ngIf="body.children.length > 0">
      <div class="subtitle">
        Organizations
      </div>
      <ng-container *ngFor="let childbody of body.children">
        <app-body-card
                    [body]="childbody">
        </app-body-card>
        <mat-divider></mat-divider>
      </ng-container>
    </div>

    <div class="subsection" *ngIf="body.roles.length > 0">
        <div class="subtitle">
          People
        </div>
        <ng-container *ngFor="let role of body.roles">
          <app-user-card *ngFor="let user of role.users_detail"
                        [profile]="user"
                        [role]="role.name">
          </app-user-card>
          <mat-divider></mat-divider>
        </ng-container>
    </div>

    <div class="subsection" *ngIf="body.parents.length > 0">
      <div class="subtitle">
        Part of
      </div>
      <ng-container *ngFor="let parentbody of body.parents">
        <app-body-card [body]="parentbody">
        </app-body-card>
      </ng-container>
    </div>

  </div>
</div>

<button mat-fab
        *ngIf="body && dataService.HasBodyPermission(body.id, 'AddE')"
        [disabled]="!dataService.loggedIn"
        class="float-fixed-right-bottom mat-elevation-z2"
        [routerLink]="['/add-event']"
        [queryParams]="{body: body.id}">
    <mat-icon>add</mat-icon>
</button>
