.body-image {
    width:100%;
    height:auto;
}

.card-header {
    display: flex;
    padding: 20px;
    padding-bottom: 0;
}

.share-div {
    text-align: right;
    padding:0;
    margin:0
}

.theme-header {
    padding-bottom: 10px;
}

.action-buttons {
    margin-left: auto;
    margin-top: -10px;
}

.body-name {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 10px;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subtitle {
    margin: 0.8em 0 0.2em 0.4em;
    padding: 0;
}

.subsection {
    margin: 0;
    margin-top: 10px;
}

.desktop-right {
    padding: 0 20px;
}

.follow-button {
    float: right;
    line-height: 2em;
    transition: background-color 0.2s ease;
    margin-left: 4px;
    margin-top: 2px;
}

.following {
    background-color: var(--accent-color);
    color: black;
}

span.badge {
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .subtitle {
        margin-left: 1em;
    }
}
