<div class="loading-spinner">
    <mat-spinner *ngIf="!body"
                mode="indeterminate">
    </mat-spinner>
</div>

<div class="full-container">
    <div *ngIf="body" class="detail-card">
      <div class="theme-header primary-background-color">
        <img class="body-image"
             [src]="body.image_url"
             alt="">
  
        <div class="card-header">
          <div class="body-name">{{ body.name }}</div>
          <button mat-mini-fab color="accent"
                class="edit-button"
                style="box-shadow: none">
              <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div class="description">
        <p class="multi-line-text">
          {{ body.description }}
        </p>
      </div>

      <div class="subtitle"
          *ngIf="body.events.length > 0">
        Upcoming Events
      </div>
      <app-event-card *ngFor="let event of body.events"
                    [routerLink]="['/event-details', event.id]"
                    [event]="event">
      </app-event-card>

    </div>
  </div>