<app-xunk-spinner *ngIf="!body"></app-xunk-spinner>

<div class="full-container real-center">
  <div *ngIf="body" class="detail-card mat-elevation-z3">
    <div class="theme-header primary-background-color">
      <img class="body-image"
            [src]="body.image_url"
            alt="">

      <div class="card-header">
        <div class="body-name">{{ body.name }}</div>
        <div class="action-buttons">
          <button mat-icon-button
                *ngIf="dataService.HasBodyPermission(body.id, 'UpdB')"
                [routerLink]="['/edit-body', body.id]">
              <mat-icon>edit</mat-icon>
          </button>
          <a mat-icon-button
            *ngIf="body.website_url && body.website_url !== ''"
            [href]="body.website_url"
            target="_blank">
            <i class="fas fa-globe fa-lg"></i>
          </a>
          <button mat-icon-button
                 (click)="share()">
              <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>

      <div class="share-div" *ngIf="shareShowing">
          <app-my-share-buttons></app-my-share-buttons>
      </div>
    </div>

    <div style="text-align:center">
        <mat-checkbox [ngModel]="dataService.followingBody(body.id)"
                      (change)="markFollow($event)"
                      [disabled]="!dataService.loggedIn">
          FOLLOW
        </mat-checkbox>
    </div>

    <div class="description markdown">
      <markdown [data]="body.description"></markdown>
    </div>

    <div class="subsection">
      <div class="subtitle"
          *ngIf="body.events.length > 0">
        Upcoming Events
      </div>
      <app-event-card *ngFor="let event of body.events"
                    [routerLink]="['/event', event.id]"
                    [event]="event">
      </app-event-card>
    </div>

    <div class="subsection">
      <div class="subtitle"
          *ngIf="body.children.length > 0">
        Organizations
      </div>
      <app-body-card *ngFor="let childbody of body.children"
                    [body]="childbody">
      </app-body-card>
    </div>

    <div class="subsection">
        <div class="subtitle"
            *ngIf="body.roles.length > 0">
          People
        </div>
        <ng-container *ngFor="let role of body.roles">
          <app-user-card *ngFor="let user of role.users_detail"
                        [profile]="user"
                        [role]="role.name">
          </app-user-card>
        </ng-container>
    </div>

    <div class="subsection">
      <div class="subtitle"
          *ngIf="body.parents.length > 0">
        Part of
      </div>
      <app-body-card *ngFor="let parentbody of body.parents"
                    [body]="parentbody">
      </app-body-card>
    </div>

  </div>
</div>

<button mat-fab
        *ngIf="body && dataService.HasBodyPermission(body.id, 'AddE')"
        [disabled]="!dataService.loggedIn"
        class="float-fixed-right-bottom mat-elevation-z2"
        [routerLink]="['/add-event']"
        [queryParams]="{body: body.id}">
    <mat-icon>add</mat-icon>
</button>
