.main {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

@media (min-width: 1256px) {
    .main {
        transform: translateX(-70px);
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.3em;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.title {
    margin-top: 20px;
    font-size: 1.6em;
    text-align: center;
    width: 100%;
    font-family: 'Russo One', sans-serif;
}

.section {
    padding-top: 1.2em;
}

.credits-table {
    width: 100%;
}

img {
    border-radius: 50%;
}

td, div {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.core-dev {
    font-size: 1.3em;
}

.sub-dev {
    font-size: 1.1em;
    width: 200px;
}

.floating {
    display: inline-block;
    margin: 20px;
}

.pic {
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    margin-bottom: 12px;
}

.core-dev .pic {
    width: 150px;
    height: 150px;
}

.sub-dev .pic {
    width: 120px;
    height: 120px;
}

/* Core */
#varun { background-image: url("https://insti.app/team-pics/varun.jpg") }
#sajal { background-image: url("https://insti.app/team-pics/sajal.jpg"); }

#tomar { background-image: url("https://insti.app/team-pics/tomar.jpg"); }
#nihal { background-image: url("https://insti.app/team-pics/nihal.jpg"); }
#ydidwania { background-image: url("https://insti.app/team-pics/ydidwania.jpg"); }
#cheeku { background-image: url("https://insti.app/team-pics/cheeku.jpg"); }
#sarthak { background-image: url("https://insti.app/team-pics/sarthak.jpg"); }

#soham { background-image: url("https://insti.app/team-pics/soham.jpg"); }

#mrunmayi { background-image: url("https://insti.app/team-pics/mrunmayi.jpg"); }
#owais { background-image: url("https://insti.app/team-pics/owais.jpg"); }
#hrushikesh { background-image: url("https://insti.app/team-pics/hrushikesh.jpg"); }
#yashkhem { background-image: url("https://insti.app/team-pics/yashkhem.jpg"); }
#bavish { background-image: url("https://insti.app/team-pics/bavish.jpg"); }
#mayu { background-image: url("https://insti.app/team-pics/mayu.jpg"); }

#tty { background-image: url("https://insti.app/team-pics/wncc.jpg"); }
