<mat-card mat-ripple
          class="sub-card"
          *ngIf="event"
          [routerLink]="overrideClick ? null : ['/event', event.str_id]">
  <mat-card-header>
    <img mat-card-avatar
         [src]="event.image_url"
         [src-fallback]="event.bodies[0].image_url"
         class="object-cover" />
    <mat-card-title>{{ event.name }}</mat-card-title>
    <mat-card-subtitle>
      <div id="subtitle">
        {{ dataService.GetDate(event.start_time) }} | {{ event.venues_str }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
