<div class="sub-card">

  <div class="card">
    <table class="card-table">
      <tbody>
        <tr>


          <td>
            <div class="content">
              <p>
                {{ interest.title }}
              </p>
              <div class="fixed-bottom">
                <button class="close" [style.background-color]="toggle ? 'green' : 'red'" mat-button
                  (click)="onNoClick()">X</button>
              </div>

            </div>




          </td>



        </tr>
      </tbody>
    </table>
  </div>



</div>