<div class="sub-card">

  <div class="card">
    <table class="card-table">
      <tbody>
        <tr>


          <td>
            <div class="content">
              <p>
                {{ interest.title }} <button *ngIf=canDelete class="close" mat-button
                  (click)="onNoClick(interest)">X</button>
              </p>
              <div class="fixed-bottom">

              </div>

            </div>




          </td>



        </tr>
      </tbody>
    </table>
  </div>



</div>