.maindiv {
    padding: 0;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100vh;
  }

.mainmap {
    padding:0;
    height: 80vh;
}

.loc {
    width: 5px;
    height: 5px;
    background: yellow;
    border: 2px solid green;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}
