<app-xunk-spinner *ngIf="!maploaded"></app-xunk-spinner>

<div class="main" [class.sandbox]="dataService.isSandbox">
  <div id="map" class="map"></div>
  <img id="marker" src="/assets/map/marker_blue_s.png">
  <img id="user-marker" src="/assets/map/marker_red_s.png">
</div>

<div id="searchbox" class="mat-elevation-z3"
    [@enterFade]="bstr(true)"
    *ngIf="showSearch">
  <input class="search"
         type="search" #searchbox
         placeholder="Search"
         [matAutocomplete]="auto"
         [formControl]="searchForm"
         (keyup.enter)="searchChanged($event)">
  <mat-autocomplete name="locsauto" #auto (optionSelected)="searchChanged($event)">
    <mat-option *ngFor="let loc of filteredOptions | async" [value]="loc.name">
      {{ loc.name }}
    </mat-option>
  </mat-autocomplete>
</div>

<div id="infobox"
    *ngIf="initLocBox"
    [@enterFade]="bstr(showLocBox)"
     class="infobox mat-elevation-z3"
     [class.expanded]="mobShowLocBox"
     (panup)="mobileShowLoc(true)"
     (pandown)="mobileShowLoc(false)">

  <ng-container *ngIf="selLocationAnim">
    <div id="locname"
        (panup)="mobileShowLoc(true)"
        (pandown)="mobileShowLoc(false)">
          {{ selLocationAnim.name }}
    </div>
    <div *ngIf="selLocationAnim.description !== ''"
          class="description-box"
          (panup)="mobileShowLoc(true)"
          (pandown)="mobileShowLoc(false)">
        {{ selLocationAnim.description }}
    </div>
  </ng-container>

</div>

<button mat-mini-fab class="search-button"
       (click)="showSearch = true"
       *ngIf="!showSearch">
  <mat-icon>search</mat-icon>
</button>

<button mat-fab
       *ngIf="hasGeolocation()"
       class="fab location-button"
       (click)="getGPS()"
       [class.selbutton]="isFollowingUser() && geoLocationLast()"
       [class.translateinfo]="showLocBox">
  <mat-icon>my_location</mat-icon>
</button>

<button mat-mini-fab
       class="fab residences-button"
       (click)="toggleResidences()"
       [class.selbutton]="showResidences"
       [class.translateinfo]="showLocBox">
  <mat-icon>home</mat-icon>
</button>
