.main {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 64px);
    margin-bottom: 0;
}

.main.sandbox {
    height: 100vh;
}

.map {
    width: 100%;
    height: 100%;
}

#marker, #user-marker {
    height: 60px;
    transform: translateY(6px);
}

.floating-box {
    background: white;
    position: fixed;
    right: 40px;
    top: 100px;
    padding: 0 15px;
    padding-top: 8px;
    width: 230px;
    z-index: 2;
}

#loc-box {
    padding: 8px 15px;
    transition: top 0.5s ease, bottom 0.5s ease;
}

.description-box {
    max-height: 60vh;
    overflow-y: auto
}

#main-box mat-form-field {
    width: 100%;
}

.search-button {
    position: fixed;
    right: 8px;
    top: 110px;
}

.fab {
    position: fixed;
    right: 15px;
}

.fab.location-button { bottom: 15px; }
.fab.residences-button { bottom: 80px; }

.fab.selbutton {
    color: white;
    background-color: var(--primary-color);
}

.only-mobile {
    display: none;
}

@media (max-width: 560px) {
    .main {
        height: calc(100vh - 56px);
        margin-top: 0;
    }

    .floating-box {
        width: 80%;
        left: 50%;
        top: 75px;
        margin: 0 auto;
        transform: translateX(-50%);
    }

    .only-mobile {
        display: block;
    }
}
