<app-xunk-spinner *ngIf="!maploaded"></app-xunk-spinner>

<div class="main">
  <div [style.cursor]="pointer" id="map" class="map"></div>
  <img id="marker" src="/assets/location-icon.svg">
</div>

<div id="main-box" class="floating-box mat-elevation-z3"
    [@enterRight]="bstr(true)"
    *ngIf="showSearch">
  <mat-form-field>
    <input type="search" #searchbox
            matInput placeholder="Search"
            [matAutocomplete]="auto"
            (keyup)="searchChanged($event)">
    <mat-autocomplete name="locsauto" #auto="matAutocomplete" (optionSelected)="searchChanged($event)">
      <mat-option *ngFor="let loc of locations_copy" [value]="loc.name">{{loc.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div id="loc-box"
    *ngIf="initLocBox"
    [@enterRight]="bstr(showLocBox)"
     class="floating-box mat-elevation-z3"
     (panup)="mobileShowLoc(true)"
     (pandown)="mobileShowLoc(false)"
     [style.top]="locBoxTop()">

  <ng-container *ngIf="selLocationAnim">
    <b>{{ selLocationAnim.name }}</b>
    <br><br>
    <div *ngIf="selLocationAnim.description !== ''"
          class="description-box"
          (panup)="mobileShowLoc(true)"
          (pandown)="mobileShowLoc(false)">
        {{ selLocationAnim.description }}
    </div>
  </ng-container>

</div>

<button mat-mini-fab class="search-button only-mobile"
       (click)="showSearch = true">
  <mat-icon>search</mat-icon>
</button>
