.main {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 64px);
    margin-bottom: 0;
}

.main.sandbox {
    height: 100vh;
}

.map {
    width: 100%;
    height: 100%;
}

#marker, #user-marker {
    height: 60px;
    transform: translateY(6px);
}

#searchbox {
    position: fixed;
    right: 40px; top: calc(40px + 56px);
    background: white;
    z-index: 2;
}

.search {
    padding: 15px 20px;
    border: none;
    width: 300px;
}

#infobox {
    padding: 15px 20px;
    box-sizing: border-box;
    position: fixed;
    right: 40px; top: 160px;
    background: white;
    width: 300px;
    z-index: 2;
    font-family: initial;
}

#infobox.editing {
    width: 700px;
}

#locname {
    font-size: 1.3em;
    margin-bottom: 0.2em;
}

.edit-loc {
    float: left;
    width: 45%;
    margin-right: 5%
}

.edit-loc mat-form-field {
    width: 100%;
}

.description-box {
    max-height: 65vh;
    overflow-y: auto;
    white-space: pre-line;
}

.fab {
    position: fixed;
    right: 15px;
    transition: all 250ms ease;
}

.fab.location-button { bottom: 15px; }
.fab.residences-button { bottom: 80px; }

.fab.selbutton {
    color: white;
    background-color: var(--primary-color);
}

.update-button {
    margin-top: 2px;
    float: right;
}

.only-mobile {
    display: none;
}

@media (max-width: 560px) {
    #searchbox {
        top: 56px;
        width: 100%;
        right: unset;
        left: 0;
        background-color: var(--primary-color);
    }

    .search::-webkit-input-placeholder { color: white; }
    .search::-moz-placeholder { color: white; }
    .search::-ms-placeholder { color: white; }
    .search::placeholder { color: white; }

    .search {
        padding-top: 0;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
    }

    #infobox {
        width: 100vw;
        right: unset; left: 0;
        top: calc(100vh - 80px);
        min-height: 100vh;
        transition: all 200ms ease;
    }

    #infobox.expanded {
        transform: translateY(calc(-90vh + 170px));
    }

    .fab.translateinfo {
        transform: translateY(-80px);
    }

    .main {
        height: calc(100vh - 56px);
        margin-top: 0;
    }

    .only-mobile {
        display: block;
    }
}
