<app-xunk-spinner *ngIf="!maploaded"></app-xunk-spinner>

<div class="main">
  <div [style.cursor]="pointer" id="map" class="map"></div>
  <img id="marker" src="/assets/location-icon.svg">
</div>

<div id="main-box" class="floating-box mat-elevation-z3"
    [@enterRight]="bstr(true)">
  <mat-form-field>
    <input type="text"
            matInput placeholder="Search"
            [matAutocomplete]="auto"
            (keyup)="searchChanged($event)">
    <mat-autocomplete name="locsauto" #auto="matAutocomplete" (optionSelected)="searchChanged($event)">
      <mat-option *ngFor="let loc of locations_copy" [value]="loc.name">{{loc.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div id="loc-box"
    *ngIf="initLocBox"
    [@enterRight]="bstr(showLocBox)"
     class="floating-box mat-elevation-z3">
  <ng-container *ngIf="selLocationAnim">
    <b>{{ selLocationAnim.name }}</b>
    <ng-container *ngIf="selLocationAnim.description !== ''">
        <br><br>
        {{ selLocationAnim.description }}
    </ng-container>
  </ng-container>
</div>

<button mat-mini-fab class="search-button only-mobile">
  <mat-icon>search</mat-icon>
</button>
