<app-xunk-spinner *ngIf="!hostels"></app-xunk-spinner>

<button mat-fab
  [disabled]="!menu"
  class="float-fixed-right-bottom mat-elevation-z2"
 (click)="restoreList()">
  <mat-icon>list</mat-icon>
</button>

<ng-container *ngIf="hostels">
  <ng-container *ngIf="!menu">
    <div class="real-center detail-card-elem mat-elevation-z1 margin-card"
        *ngFor="let hostel of hostels">
      <mat-card mat-ripple
                class="sub-card"
               (click)="selectHostel(hostel)">

          <mat-card-header>
            <mat-card-title> {{ hostel.name }} </mat-card-title>
            <mat-card-subtitle> {{ hostel.long_name }} </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
  </ng-container>

  <div class="real-center" *ngIf="menu">
    <div class="super-head mat-elevation-z1">{{ currHostel.name }}</div>
    <div class="mess-card" *ngFor="let menuday of menu">
      <div class="mess-card-head primary-background-color mat-elevation-z1">{{ daysOfWeek[menuday.day] }}</div>

      <table class="mess-table">
        <tr>
          <td>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Breakfast</mat-card-title>
                <mat-card-subtitle>{{menuday.breakfast}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </td>
          <td>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Lunch</mat-card-title>
                  <mat-card-subtitle>{{menuday.lunch}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </td>
        </tr>
        <tr>
          <td>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Snacks</mat-card-title>
                <mat-card-subtitle>{{menuday.snacks}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </td>
          <td>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Dinner</mat-card-title>
                <mat-card-subtitle>{{menuday.dinner}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-container>