.super-head {
    max-width: calc(550px - 16px);
    width: calc(100% - 16px);
    text-align: center;
    font-size: 1.6em;
    padding: 0.4em 0;
    margin: 5px auto;
    margin-bottom: 0.7em;
    background-color: white;
}

.mess-card {
    max-width: 550px;
    padding: 0;
    margin: 5px auto;
    cursor: pointer;
    white-space: pre-wrap;
    margin-bottom: 0.7em;
}

.mess-card-head {
    text-align: center;
    font-size: 1.1em;
    padding: 6px 0;
    margin: 0 8px;
}

.mess-table {
    width: 100%;
    border-spacing: 8px;
    table-layout: fixed;
}

.mess-table mat-card {
    padding: 8px;
    min-height: 110px;
}

@media (max-width: 600px) {
    .mess-table {
        border-spacing: 5px;
    }

    .mess-table mat-card {
        padding: 5px;
    }
}

.mess-table mat-card-subtitle {
    font-size: 0.83em;
}

.float-fixed-right-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}
