#main {
    margin-bottom: 10px;
}

.header-image {
    width:100%;
    height:auto;
    cursor: pointer;
}

.card-header {
    padding: 12px;
    padding-bottom: 8px;
}

.details-view > div {
    padding-right: 10px;
    padding-left: 10px;
}

.half-width {
    left: 1%;
    width: 45%;
    padding-right: 0;
}

.full-width-details {
    left: 2%;
    width: calc(96%);
}

.md-preview {
    margin: 20px;
}

.md-preview .subh {
    margin-left: 5px;
    font-weight: 200;
}

.md-preview a {
    color: var(--warn-color);
    text-decoration: none;
}
