.heading {
    text-align: center;
    font-size: 1.1em;
    margin-top: 6px;
}

.login-button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 40px;
}

.logo {
    border-radius: 50px;
}

.login-container {
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 5px;
    border-radius: 40px;
    margin-top: 30px;
    max-width: 300px;
    left: 50%;
    width: auto;
}
