.main {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 64px);
    margin-bottom: 0;
}

.main.loaded {
    background-color: #666;
}

.main.sandbox {
    height: 100vh;
}

.map {
    width: 100%;
    height: 100%;
}

#marker, #user-marker {
    height: 60px;
    transform: translateY(6px);
}

#searchbox {
    position: fixed;
    right: 40px; top: calc(40px + 56px);
    background: white;
    z-index: 2;
}

#searchbox2 {
    position: fixed;
    right: 40px; top: calc(40px + 56px + 30px + 1rem + 5px);
    background: white;
    z-index: 2;
}

.search {
    padding: 15px 20px;
    border: none;
    width: 300px;
}

#infobox {
    padding: 15px 20px;
    box-sizing: border-box;
    position: fixed;
    right: 40px; top: 160px;
    background: white;
    width: 300px;
    z-index: 2;
    font-family: 'Segoe UI' initial;
    overflow-y: auto;
    max-height: 75vh;
}

#directions {
    padding: 15px 20px;
    box-sizing: border-box;
    position: fixed;
    right: 700px; top: 160px;
    background: white;
    width: 300px;
    z-index: 2;
    font-family: 'Segoe UI' initial;
}

#infobox.editing {
    width: 700px;
}
#infobox.showingDirections{
    top: 210px;
}

#locname {
    font-size: 1.3em;
    margin-bottom: 0.2em;
}

.edit-loc {
    float: left;
    width: 45%;
    margin-right: 5%
}

.edit-loc mat-form-field {
    width: 100%;
}

.description-box {
    max-height: 65vh;
    /* overflow-y: auto; */
    white-space: pre-line;
}

.fab {
    position: fixed;
    right: 15px;
    transition: all 250ms ease;
}

.fab.location-button { bottom: 15px; }
.fab.residences-button { bottom: 80px; }

.fab.selbutton {
    color: white;
    background-color: var(--primary-color);
}

.update-button {
    margin-top: 2px;
    float: right;
}

.directions-button {
    margin-block-start: 4px;
    background-color: #2070e9; /* Bluish Shade */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#comp-render {
    margin-block-start: 4px;
    border: none;
    background-color:#fe1206;
    padding: 5px 8px;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: left;
}

.only-mobile {
    display: none;
}

@media (max-width: 560px) {
    #searchbox {
        top: 56px;
        width: 100%;
        right: unset;
        left: 0;
        background-color: var(--primary-color);
    }

    #searchbox2 {
        top: calc(56px + 16px + 1rem);
        width: 100%;
        right: unset;
        left: 0;
        background-color: var(--primary-color);
    }

    .search::-webkit-input-placeholder { color: white; }
    .search::-moz-placeholder { color: white; }
    .search::-ms-placeholder { color: white; }
    .search::placeholder { color: white; }

    .search {
        padding: 8px 20px;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
    }

    #infobox {
        width: 100vw;
        right: unset; left: 0; top: unset;
        bottom: calc(-90vh + 80px);
        height: 90vh;
        max-height: none;
        transition: all 200ms ease;
    }

    #infobox.expanded {
        transform: translateY(calc(-90vh + 180px));
    }

    #infobox.showingDirections{
        top: unset;
    }

    .fab.translateinfo {
        transform: translateY(-80px);
    }

    .main {
        height: calc(100vh - 56px);
        margin-top: 0;
    }

    .only-mobile {
        display: block;
    }
}
