<app-xunk-spinner *ngIf="!maploaded"></app-xunk-spinner>

<div
  class="main"
  [class.sandbox]="dataService.isSandbox"
  [class.loaded]="maploaded"
>
  <div id="map" class="map"></div>
  <img id="marker" src="/assets/map/marker_blue_s.png" />
  <img id="user-marker" src="/assets/map/marker_red_s.png" />
</div>
<div id="searchbox" class="mat-elevation-z3" [@enterFade]="bstr(true)">
  <form class="c-form">
    <div
      id="searchbox-destination"
      class="mat-elevation-z3"
      [@enterFade]="bstr(true)"
    >
      <input
        name="destination"
        class="search"
        type="search"
        #searchbox
        placeholder="Search Destination"
        [matAutocomplete]="auto1"
        [formControl]="searchForm"
        (keyup.enter)="searchChangedDestination($event)"
        (click)="searchChangedDestination($event)"
        [(ngModel)]="originAndDestinationData.destination"
        required
      />
      <mat-autocomplete
        id="destinationautocomplete"
        name="locsauto"
        #auto1
        (optionSelected)="searchChangedDestination($event)"
      >
        <mat-option
          *ngFor="let loc of filteredOptions | async"
          [value]="loc.name"
        >
          {{ loc.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div
      id="searchbox-origin"
      class="mat-elevation-z3"
      [@enterFade]="bstr(true)"
    >
      <!--  -->

      <input
        name="origin"
        class="search"
        type="search"
        #searchbox
        placeholder="Search Origin"
        [matAutocomplete]="auto2"
        [formControl]="searchForm"
        (keyup.enter)="searchChangedOrigin($event)"
        (click)="searchChangedOrigin($event)"
        [(ngModel)]="originAndDestinationData.origin"
        required
      />
      <mat-autocomplete
        id="originautocomplete"
        name="locsauto"
        #auto2
        (optionSelected)="searchChangedOrigin($event)"
      >
        <button id="yourLocation" type="button" (click)="getCurrentLocation()">
          Your location
        </button>
        <mat-option
          *ngFor="let loc of filteredOptions | async"
          [value]="loc.name"
        >
          {{ loc.name }}
        </mat-option>
      </mat-autocomplete>

      <!--  -->
    </div>

    <div
      id="infobox"
      *ngIf="initLocBox"
      [@enterFade]="bstr(showLocBox)"
      class="infobox mat-elevation-z3"
      [class.expanded]="mobShowLocBox"
      [class.editing]="editing"
      (panup)="mobileShowLoc(true)"
      (pandown)="mobileShowLoc(false)"
    >
      <div class="edit-loc" *ngIf="editing">
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="selLocationAnim.name"
            placeholder="Name"
          />
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            type="text"
            [(ngModel)]="selLocationAnim.description"
            rows="8"
            placeholder="Description"
          >
          </textarea>
        </mat-form-field>
      </div>

      <ng-container *ngIf="selLocationAnim">
        <div
          id="locname"
          (panup)="mobileShowLoc(true)"
          (pandown)="mobileShowLoc(false)"
        >
          {{ selLocationAnim.name }}
        </div>
        <div
          *ngIf="selLocationAnim.description !== ''"
          class="description-box"
          (panup)="mobileShowLoc(true)"
          (pandown)="mobileShowLoc(false)"
        >
          {{ selLocationAnim.description }}
        </div>
        <button type="button" id="direction" (click)="markDestination()">
          Direction
        </button>

        <button
          mat-button
          class="update-button"
          color="warn"
          (click)="updateLocation(selLocationAnim)"
          *ngIf="hasUpdateRole()"
        >
          Update
        </button>
      </ng-container>
    </div>
    <button
      mat-fab
      *ngIf="hasGeolocation()"
      class="fab location-button"
      (click)="getGPS()"
      [class.selbutton]="isFollowingUser() && geoLocationLast()"
      [class.translateinfo]="showLocBox"
    >
      <mat-icon>my_location</mat-icon>
    </button>

    <button
      mat-mini-fab
      class="fab residences-button"
      (click)="toggleResidences()"
      [class.selbutton]="showResidences"
      [class.translateinfo]="showLocBox"
    >
      <mat-icon>home</mat-icon>
    </button>
  </form>
</div>
