.header-image {
    width:100%;
    height:auto;
    cursor: pointer;
}

@media (min-width: 768px) {
    #main {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.back-button {
    left: 10px; top: 10px;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

.card-header {
    padding: 12px;
    padding-bottom: 8px;
}

.details-view > div {
    padding-right: 10px;
    padding-left: 10px;
}

.half-width {
    left: 1%;
    width: 45%;
    padding-right: 0;
}

.middle-gap {
    padding-right:4%;
}

.full-width-details {
    left: 1%;
    width: calc(98%);
}

.action-button {
    margin-top: 10px;
}
