<div id="main" class="mat-elevation-z3">

<button mat-mini-fab color="accent"
    class="back-button"
    (click)="close()">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="theme-header">
  <input style="display:none;" type="file" accept="image/*" #file id="file" (change)="uploadImage($event.target.files)">
  <img class="header-image"
       [src]="event.image_url"
       src-fallback="/assets/add_image_placeholder.png"
       (click)="file.click()">

  <div class="card-header">
      <mat-form-field color="accent" class="full-width">
        <input [(ngModel)]="event.name" matInput required
               name="event_name" placeholder="Event Name">
      </mat-form-field>
  </div>
</div>

<div class="details-view full-width">
  <div style="display:flex;">
    <mat-form-field class="half-width middle-gap">
      <input [(ngModel)]="event.start_time" matInput [matDatepicker]="fromPicker" placeholder="From" required>
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="half-width">
        <input [(ngModel)]="event.end_time" matInput [matDatepicker]="toPicker" placeholder="To" required>
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div style="display:flex;">
    <mat-form-field class="half-width middle-gap">
        <input (change)="timeChanged()" [(ngModel)]="start_time" matInput placeholder="Time" type="time" required>
    </mat-form-field>
    <mat-form-field class="half-width">
        <input (change)="timeChanged()" [(ngModel)]="end_time" matInput placeholder="Time" type="time" required>
    </mat-form-field>
  </div>

  <div class="full-width-details" *ngFor="let vn of event.venue_names; let i = index">
    <mat-form-field style="width: calc(98% - 50px); left: 1%;">
        <mat-select [(ngModel)]="event.venue_names[i]" placeholder="Venues">
            <mat-option *ngFor="let venue of venuesList" [value]="venue">{{venue}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="i==0" (click)="AddVenue()" mat-icon-button><mat-icon>add</mat-icon></button>
    <button *ngIf="i!=0" (click)="RemoveVenue(i)" mat-icon-button><mat-icon>remove</mat-icon></button>
  </div>

  <div>
    <mat-form-field class="full-width-details">
      <mat-select [(ngModel)]="event.bodies_id" placeholder="Bodies" multiple required>
        <mat-option *ngFor="let body of bodies"
                    [value]="body.id">
                {{ body.name }}
        </mat-option>
        <mat-option *ngFor="let body of disabledBodies"
                    [value]="body.id" disabled>
                {{ body.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width-details">
      <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="6" [(ngModel)]="event.description">
      </textarea>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="accent"
            class="full-width-details"
            (click)="go()">
      <ng-container *ngIf="!editing">Create</ng-container>
      <ng-container *ngIf="editing">Update</ng-container>
    </button>
    <button mat-raised-button color="warn"
            class="full-width-details action-button"
            (click)="delete()"
            *ngIf="editing"
            [disabled]="!canDelete">
      Delete
    </button>
  </div>
  <br>
</div>

</div>
