#main {
    min-height: 100vh;
    background-color: white;
}

.back-button {
    left: 10px; top: 10px;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

.card-header {
    padding: 12px;
    padding-bottom: 3px;
}

.details-view > div {
    padding-right: 10px;
    padding-left: 10px;
}

.half-width {
    width: 43%;
    padding-right: 15px;
}

.full-width-details {
    width: calc(86% + 15px);
}
