#main {
    min-height: 100vh;
    background-color: white;
    max-width: 400px;
    margin: auto;
}

@media (min-width: 768px) {
    #main {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.back-button {
    left: 10px; top: 10px;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

.card-header {
    padding: 12px;
    padding-bottom: 3px;
}

.details-view > div {
    padding-right: 10px;
    padding-left: 10px;
}

.half-width {
    width: 45%;
    padding-right: 0;
}

.middle-gap {
    padding-right:4%;
}

.full-width-details {
    width: calc(94%);
}
