.body-image {
    width:100%;
    height:auto;
}

.card-header {
    display: flex;
    padding: 8px 20px;
    padding-bottom: 0;
}

.theme-header {
    padding-bottom: 10px;
}

.action-buttons {
    padding-top: 5px;
    margin-left: auto;
    margin-top: -10px;
}

.action-buttons .icon-button {
    float: right;
}

.body-name-container {
    margin-top: 5px;
    margin-bottom: 10px;
}

.body-name {
    margin: 0;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 14pt;
}

.body-short-desc {
    font-size: 10pt;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subtitle {
    margin: 0.8em 0 0.2em 0.4em;
    padding: 0;
}

.subsection {
    margin: 0;
    margin-top: 10px;
}

.desktop-right {
    padding: 0 20px;
}

.body-follow-button {
    float: right;
    line-height: 2em;
    transition: background-color 0.2s ease;
    margin-left: 4px;
    margin-top: 2px;
}

.following {
    background-color: var(--accent-color);
    color: black;
}

span.badge {
    font-size: 0.8em;
}

.edit-fab {
    transform: translateZ(0);
    transition: transform 0.2s linear;
}

.edit-fab.gone {
    transform: scale(0.001) translateZ(0);
}

@media (max-width: 768px) {
    .subtitle {
        margin-left: 1em;
    }
}
