@media (max-width: 767px) {
    .events-list {
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}

ng-scrollbar {
    background-color: white;
}

@media (min-width: 768px) {
    .events-list {
        position: relative;
        width: 50%;
        float: left;
        height: calc(100vh - 64px);
    }

    .event-details-container {
        position: relative;
        height: calc(100vh - 64px);
        width: calc(50% - 2px);
        border-left: 2px silver solid;
    }
}
