<div class="loading-spinner">
    <app-xunk-spinner *ngIf="!roles"></app-xunk-spinner>
</div>

<div class="detail-card mat-elevation-z3" *ngIf="roles && dataService.loggedIn">
  <mat-tab-group class="tab-group" mat-stretch-tabs [(selectedIndex)]="selIndex">
      <mat-tab label="Following">
        <app-event-card
          *ngFor="let event of dataService.getFollowedEvents()"
          [event]="event">
        </app-event-card>
      </mat-tab>
      <mat-tab *ngFor="let role of roles" [label]="role.body_detail.name" >
        <app-event-card
          *ngFor="let event of role.events"
          [event]="event">
        </app-event-card>
      </mat-tab>
  </mat-tab-group>
</div>

<button mat-fab
        *ngIf="canAdd(selIndex)"
        class="float-fixed-right-bottom mat-elevation-z2"
        [routerLink]="['/add-event']"
        [queryParams]="{body: roles[selIndex - 1].body}">
    <mat-icon>add</mat-icon>
</button>

<app-login *ngIf="!dataService.loggedIn"></app-login>
