@media (min-width: 768px) {
    .events-list {
        position: absolute;
        left: calc(47% - 400px);
        max-width: 400px;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .events-list {
        width: 360px;
        left: calc(48% - 360px);
    }
}

@media (max-width: 767px) {
    .events-list {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
    }
}

@media (min-width: 900px) {
    .events-list {
        width: 400px;
    }
}

.head-card {
    max-width: 428px;
    margin: 0 auto;
    cursor: pointer;
}

.header {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial;
    padding-right: 200px;
}

.subhead {
    color: grey;
    font-size: 10pt;
}
