.head-card {
    height: auto;
}

.head-card img {
    object-fit: cover;
    max-height: 250px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial;
    padding-right: 200px;
}

.subhead {
    color: grey;
    font-size: 10pt;
}
