<app-xunk-spinner *ngIf="!containers || error" [error]="error"></app-xunk-spinner>

<app-event-sidebar-desktop
    *ngIf="containers && !error"
    [event]="selectedEvent">

    <div class="events-list">
        <div *ngFor="let c of containers" class="events-block">
            <div class="rl-header date-header"
                *ngIf="c.title !== ''">
                {{c.title}}
            </div>
            <mat-card *ngIf="!nobig"
                       mat-ripple
                       class="sub-card head-card"
                      (click)=OpenEvent(c.events[0])>

                <img mat-card-image
                     class="head-img"
                    [src]="c.events[0].image_url" alt=""
                    (click)=OpenEvent(c.events[0])
                    [src-fallback]="c.events[0].bodies[0].image_url">

                <div> {{ c.events[0].name }} </div>
                <span class="subhead">{{ dataService.GetEventSubtitle(c.events[0]) }}</span>
            </mat-card>

            <app-event-card *ngFor="let event of (nobig ? c.events : c.events.slice(1, c.events.length))"
                            (click)=OpenEvent(event)
                            [event]="event"
                            overrideClick=true>
            </app-event-card>
        </div>
    </div>

</app-event-sidebar-desktop>
