<ng-container *ngIf="initialized">
<sidebar-js [sidebarjsConfig]="{nativeSwipeOpen: false}">
    <mat-nav-list>
        <app-navmenu sidebarjsClose></app-navmenu>
    </mat-nav-list>
</sidebar-js>

<div #swipeArea id="swipe-right-area" sidebarjsOpen (panright)="clickHamburger()"></div>

<mat-toolbar class="example-toolbar" color="primary"
             [class.hide-toolbar]="!dataService.showToolbar">
    <button mat-icon-button sidebarjsOpen><mat-icon>menu</mat-icon></button>

    <h1 class="example-app-name">
        {{ this.titleService.getTitle() }}
    </h1>

    <div class="fill-space"></div>
    <button mat-button (click)="login()">Log In</button>
</mat-toolbar>

<main [@routerTransition]="getState(o)"
        (@routerTransition.done)="scrollToTop();">
    <router-outlet #o="outlet" style="padding:0; margin: 0; position:fixed; top:0;"></router-outlet>
</main>
</ng-container>
