<app-xunk-spinner *ngIf="!dataService.isInitialized()"></app-xunk-spinner>

<ng-container *ngIf="dataService.isInitialized()">

<mat-toolbar class="example-toolbar"
             color="primary"
            *ngIf="!isSandbox">
    <button mat-icon-button
            *ngIf="mobileQuery.matches"
            (click)="toggleSidebar()"
            [style.display]="getState(o)==='base' ? 'inline' : 'none'">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="mobileQuery.matches"
            [style.display]="getState(o)==='overlay' ? 'inline' : 'none'"
            (click)="dataService.navigateBack();">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <h1 class="app-name">
        {{ _title }}
    </h1>

    <div class="fill-space"></div>
    <button mat-button
            (click)="login()"
            *ngIf="!this.dataService.isLoggedIn()">
        Log In
    </button>

    <button mat-icon-button
            *ngIf="dataService.showQRButton"
            [routerLink]="['/qr-scan']">
            <img src="/assets/qrcode.svg" />
    </button>

    <button mat-icon-button
            (click)="openNotifications()"
            *ngIf="dataService.isLoggedIn() && dataService.notifications">
        <mat-icon *ngIf="dataService.getUnreadNotifications().length > 0"
            [matBadge]="dataService.getUnreadNotifications().length"
            matBadgeColor="accent">
            notifications_active
        </mat-icon>
        <mat-icon *ngIf="dataService.getUnreadNotifications().length === 0">
            notifications
        </mat-icon>
    </button>
</mat-toolbar>

<ngx-flyout [(open)]="openFlyout"
            position="left"
            [showCloseButton]="false"
            [showBackdrop]="mobileQuery.matches"
            [hideOnBackdropClick]="mobileQuery.matches"
            [flyoutClasses]="['flyout']"
            [backdropClasses]="['flyout-backdrop']"
            *ngIf="!isSandbox">
    <mat-nav-list>
        <app-navmenu (click)="closeSidebarMobile()">
        </app-navmenu>
    </mat-nav-list>
</ngx-flyout>

<div id="router-out">
    <div id="top-gap" *ngIf="!isSandbox"></div>
    <router-outlet #o="outlet"></router-outlet>
</div>

<!-- Swipe area (only for mobile) -->
<div id="swipe-right-area"
     *ngIf="mobileQuery.matches && !isSandbox"
     (click)="toggleSidebar()"
     (swiperight)="toggleSidebar()">
</div>

</ng-container>
