@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.outlet-div {
    margin-top:30px;
    z-index: 1;
}

#swipe-right-area {
    /* Uncomment and set opacity to 0.5 for debugging */
    /* background-color:green; */
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh; 
    width: 3vw;
    z-index: 1000;
}

.fill-space {
    flex: 1 1 auto;
}

@media (max-width: 767px) {
    .body-content {
        margin: 5px;
    }

    .outlet-div {
        margin-top: 50px;
    }
}

.no-margin {
    margin-top: 0;
}

#logout:hover {
    color:white;
}

:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-toolbar {
    z-index: 2;
    position: fixed;
    transition-delay: 0.5ms;
    -webkit-transition: ease-in-out transform 0.5s;
    transition: ease-in-out transform 0.5s;
}

.hide-toolbar {
    transform: translateX(-100%);
}

h1.example-app-name {
    margin-left: 8px;
    text-decoration: none;
    cursor:pointer;
}
