.main-title {
    margin-left: 12%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.feed-card {
    margin-left: 10%;
    margin-bottom: 1em;

    padding: 30px;
    padding-top: 25px;

    width: 100%;
    max-width: 500px;

    cursor: pointer;
    overflow: hidden;
    background-color: #f2f2f2;
    position: relative;
}

.feed-title {
    font-size: 1.1em;
    font-weight: bold;
}

.feed-subtitle{
    font-weight: 200;
    padding: 3px 0;
}

.markdown {
    font-size: 0.95em;
}

.selected-reaction {
    background-color: var(--primary-color);
}

td.count {
    text-align: center;
}

.react-count {
    margin-top: -2px;
}

.reaction {
    transition: background-color 0.3s ease;
}

.react-button {
    position:absolute;
    bottom:6px;
    right:6px;
}

@media (max-width: 767px) {
    .feed-card {
        margin: 1em auto;
        padding: 25px;
        width: calc(100% - 50px);
    }
}
