.feed-card {
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.selected-reaction {
    background-color: var(--primary-color);
}

td.count {
    text-align: center;
}

.react-count {
    margin-top: -2px;
}
