.feed-card {
    margin-bottom: 8px;
    cursor: pointer;
    overflow: hidden;
}

.selected-reaction {
    background-color: var(--primary-color);
}

td.count {
    text-align: center;
}

.react-count {
    margin-top: -2px;
}

.reaction {
    transition: background-color 0.3s ease;
}

.react-button {
    position:absolute;
    bottom:6px;
    right:6px;
}
