<app-xunk-spinner *ngIf="!feed"></app-xunk-spinner>

<ng-container *ngIf="feed">
  <ng-container *ngFor="let item of feed">
    <mat-card class="feed-card detail-card-elem real-center mat-elevation-z3" (click)="openLink(item.link)">
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-avatar
          [src]="item.body.image_url"
          src-fallback="assets/placeholder.png"
          class="object-cover" />
        <mat-card-subtitle><b>{{item.body.name}}</b> - {{item.published | date:"dd-MMM-yyyy HH:mm"}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <markdown [data]="item.content" class="markdown"></markdown>
      </mat-card-content>

      <mat-menu #reactMenu="matMenu" yPosition="below" xPosition="before">
          <table>
              <tr>
                <td *ngFor="let react of reactions">
                  <button
                    mat-icon-button
                    (mousedown)="$event.stopPropagation()"
                    (click)="do_reaction(item, react.id);$event.stopPropagation();"
                    [class.selected-reaction]="item.user_reaction === react.id"
                    class="reaction">
                  <i [class]="'em em-' + react.i"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="count" *ngFor="let react of reactions">
                  <div class="react-count">{{ item.reactions_count[react.id] }}</div>
                </td>
              </tr>
            </table>
      </mat-menu>

      <div class="react-button" [style.color]="getReactColor(item)">
        <button mat-icon-button [matMenuTriggerFor]="reactMenu" (click)="$event.stopPropagation()">
            <mat-icon>thumb_up</mat-icon>
        </button>
      </div>


      <!--
    -->

    </mat-card>
  </ng-container>
</ng-container>

<app-list-loading *ngIf="loading"></app-list-loading>
