<app-xunk-spinner *ngIf="!feed"></app-xunk-spinner>

<ng-container *ngIf="feed">
  <ng-container *ngFor="let item of feed">
    <mat-card mat-ripple class="feed-card detail-card-elem real-center mat-elevation-z3">
      <mat-card-header (click)="openLink(item.link)">
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-avatar
          [src]="item.body.image_url"
          src-fallback="assets/placeholder.png"
          class="object-cover" />
        <mat-card-subtitle><b>{{item.body.name}}</b> - {{item.published | date:"dd-MMM-yyyy HH:mm"}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content (click)="openLink(item.link)">
        <markdown [data]="item.content"></markdown>
      </mat-card-content>

      <button *ngFor="let react of reactions"
              mat-icon-button
              (click)="do_reaction(item, react.id)"
              [class.selected-reaction]="item.user_reaction === react.id">

          <i [class]="'em em-' + react.i"></i>
          <div class="react-count">{{ item.reactions_count[react.id] }}</div>
       </button>
    </mat-card>
  </ng-container>
</ng-container>

<app-list-loading *ngIf="loading"></app-list-loading>
