.event-image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;

}



.main {
    padding: 0;
    margin-bottom: 0;
    position: absolute;
    background-color: #E8ECF2;

}



.right {
    margin: 20px;
    margin-bottom: 0;
}

.right .section {
    margin-bottom: 30px;
}

.right .section:nth-last-of-type(1) {
    margin-bottom: 0;
}

.right .rl-header {
    margin-bottom: 4px;
}

.follow-div {
    text-align: right;
    margin: -0.6em 0.4em 0.1em 0;
}

.follow-div button {
    line-height: 2em;
    transition: background-color 0.2s ease;
    margin-left: 4px;
    margin-top: 2px;
}

.following {
    background-color: var(--accent-color);
    color: black;
}

span.badge {
    font-size: 0.8em;
}

.edit-fab {
    transform: translateZ(0);
    transition: transform 0.2s linear;
}

.edit-fab.gone {
    transform: scale(0.001) translateZ(0);
}

.achievements {
    padding: 5px;
    max-width: calc(94% - 20px);
}

.achievement {
    cursor: pointer;
    outline: none;
}

.offer-card {
    cursor: pointer;
}

@media (min-width: 768px) {
    .follow-div {
        margin-top: -1em;
    }
}

@media (max-width: 768px) {
    .section {
        margin-left: 10px;
    }
}

/* copied from .card-header */


div.card {
    padding: 10px;
    padding-bottom: 8px;
    width: 100%;
}

table.card-table {
    table-layout: fixed;
    width: 100%;
}

.avatar3 {
    width: 70px;
    position: relative;
}

.avatar3 img {
    width: 9vw;
    height: 9vw;
    background: url('/assets/lotus_placeholder.png') no-repeat;
    background-size: contain;
}

div.content {
    margin: 0;
    margin-left: 5px;
    font-size: 0.9em;
    width: 100%;
}

div.content p {
    margin: 0.3em 0;
    width: calc(100% - 2em);
}



.card-sub-title {
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.followers_posts {
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.badge {
    width: 30px;
    padding-right: 5px;
}

.badge img {
    height: 20px;
    width: 20px;
}



/* bootstrap css */



body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    height: auto;
    /* margin-bottom: 10px; */
    object-fit: contain;
    /* position: absolute; */

}

.fb-image-profile {
    margin: -60px 10px 0px 16px;
    z-index: 9;
    width: 25%;
    border-radius: 50%;
    box-shadow: 0px 3px 30px -18px #000000;

}

.fb-profile-text>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 140%; */
    /* or 25px */
    position: relative;

    letter-spacing: 0.75px;
    margin-top: 10px;
    color: #000000;
    overflow-wrap: normal;
    margin: 0;

}

.fb-profile-text>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    position: relative;
    margin: 0;

    letter-spacing: 0.25px;
    /* Ref/Neutral/Neutral20 */
    overflow-wrap: break-word;

    color: #2F3034;


}

.inline {
    display: inline;
}

@media (max-width: 768px) {

    .fb-profile-text>h1 {
        font-family: 'Roboto';
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        letter-spacing: 0.75px;

        color: #000000;

    }

    .fb-image-profile {
        position: relative;
        margin: -45px 10px 0px 25px;
        z-index: 9;
        /* width: 100%; */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%
    }
}

/* Ref/Primary/Primary50 */
.join_button {

    height: 36px;
    background: #435FFE;
    border-radius: 54px;
    width: 90%;
    color: white;
    margin-top: 20px;
    /* margin: auto; */

}

.join_button_cont {
    text-align: center;
    position: relative;
    top: 0px;
}

.tabs {
    position: relative;
    margin-top: 16px;
}

.tabText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    letter-spacing: 0.4px;

    /* Ref/Neutral/Neutral0 */

    color: #000000;
    padding: 15px;
}




.scroll-container {
    border: 2px solid silver;
    display: flex;
    align-items: center;
}

.featured-container {
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
}
.featured-post-container{
    white-space: nowrap;

    overflow: scroll;
}


.role-container{
    margin: 12px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #e8ecf2;
}
.role-name{
    margin: -12px;
    margin-bottom: 6px;
    padding: 18px;

    font: 14px 'Roboto';
    font-weight: 600;

    border-bottom: 1px solid #e8ecf2;
}
