.main {
    max-width: 700px;
    margin: 0 auto;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.full-width-details {
    margin-left: 5%;
    width: 90%;
}

.field {
    margin-top: 5px;
}

.go {
    margin-top: 10px;
}

.qrbtn {
    margin: 10px 0;
    margin-left: 30px;
}

.qr {
    max-height: 80vh;
    max-width: 80vw
}

.spinner {
    position: fixed;
    right: 15px; bottom: 15px;
}


/* ============================ Animation ==================================== */
.anim {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
svg {
    width: 150px;
    display: block;
    margin: 40px auto 0;
    max-width: 80vw;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
