.main {
    max-width: 700px;
    margin: 0 auto;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.full-width-details {
    margin-left: 5%;
    width: 90%;
}

.field {
    margin-top: 5px;
}

.go {
    margin-top: 10px;
}

.qrbtn {
    margin: 10px 0;
    margin-left: 30px;
}

.qr {
    max-height: 80vh;
    max-width: 80vw
}

.spinner {
    position: fixed;
    right: 15px; bottom: 15px;
}
