.spaces{
    background-color: #E8ECF2;
    padding: 12px 6px;
}

.main-title{
    margin: 12px 0px 0px 12px;
}

.float_btn {
    position: fixed;
    right: 15px;
    top: 20px;
    transition: all 250ms ease;
}
