<!-- <div>
    <div *ngFor="let post of posts">
        <app-post-card
            [post]="post"
        >

        </app-post-card>
    </div>
</div> -->
<app-xunk-spinner *ngIf="!posts"></app-xunk-spinner>

<app-event-sidebar-desktop *ngIf="posts" [isgrouppage]="true" [group]="group">

    <div center class="spaces">

        <!-- <div class="rl-header sm main-title">
            {{ 'Spaces' }}
        </div> -->
        <div *ngFor="let post of posts">
            <app-communitypost-card [post]="post">

            </app-communitypost-card>
        </div>


    </div>


</app-event-sidebar-desktop>