<app-xunk-spinner *ngIf="!feed"></app-xunk-spinner>

<ng-container *ngIf="feed">
  <ng-container *ngFor="let item of feed">
    <mat-card class="feed-card detail-card-elem real-center mat-elevation-z3" (click)="openLink(item.link)">
      <mat-card-header>
        <mat-card-title><h3>{{item.title}}</h3></mat-card-title>
        <mat-card-subtitle>{{item.published | date:"dd-MMM-yyyy HH:mm"}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <markdown [data]="item.content"></markdown>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

<app-list-loading *ngIf="loading"></app-list-loading>
