<app-xunk-spinner *ngIf="!feed || error" [error]="error"></app-xunk-spinner>

<div id="searchbox">
  <mat-form-field class="searchinput">
    <input type="search" #box
      matInput placeholder="Search"
      (keyup.enter)="search($event)">
    <mat-hint align="start">Find blog posts </mat-hint>
  </mat-form-field>

  <button mat-icon-button
          color="primary"
          (click)="search(box, true)"
          style="max-height:37px;">
      <mat-icon>search</mat-icon>
  </button>
</div>

<div *ngIf="feed" class="main-div">
  <ng-container *ngFor="let item of feed">
    <div class="feed-card">
        <div class="title">{{item.title}}</div>
        {{item.published | date:"dd-MMM-yyyy HH:mm"}}
        <div [innerHTML]="dataService.processMDHTML(item.content | markdown)" class="markdown"></div>
    </div>
  </ng-container>
</div>

<app-list-loading *ngIf="loading"></app-list-loading>
