<div id="main-addpost-container">
    <div id="addpost-header-container">
        <p style="font: 20px 'Roboto';"><b>Create Post</b></p>
    </div>

    <div id="user-container">
         <img class="profile-pic img-circle object-cover"
              [src]="profilePic"
              src-fallback="assets/useravatar.svg">
         <div id="username-container">
             <span style="font: 14px 'Roboto';"><b>{{ userName }}</b></span>
             <div id="public-indicator">
                 <mat-icon style="height:14px;width:14px;font-size:14px;">public</mat-icon>
                 <span style="margin-left: 2px;">Public</span>
             </div>
        </div>
    </div>

    <textarea 
    matInput [(ngModel)]="addpost.description" rows=4 required
    id="post-content-input" placeholder="Write your post…"></textarea>

    <div id="image-container" *ngIf="images">
        <ng-container *ngFor="let image of images">
            <div style="position:relative;">
                <img class="img-attached" [src]="image" alt="x">
                <div class="img-attached-close clickable">
                    <mat-icon style="height:16px;width:16px;font-size:16px;">close</mat-icon>
                </div>
            </div>
        </ng-container>
        <div id="img-add-bigplus" class="clickable">
            <mat-icon style="height:36px;width:36px;font-size:36px;">add</mat-icon>
        </div>
    </div>

    <div class="tagging-container">
        <div class="tagging-container-header">
            <div class="tag-type-container">
                <p><b>Tags</b></p>
            </div>
            <div class="tag-search-container">
                <mat-form-field style="width:100%;">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input id="tag-input" class="taggable-search" placeholder="Search People or Institute Bodies" matInput>
                    <mat-option *ngFor="let body of getBodies()"
                       [value]="body.id">
                       {{ body.name }}
                    </mat-option>
                    <mat-option *ngFor="let user of getPeople()"
                       [value]="body.id">
                       {{ body.name }}
                    </mat-option>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div class="tagged" *ngFor="let taggable of taggables">
                <span>{{ taggable }}</span>
                <mat-icon style="height:16px;width:16px;font-size:16px;">close</mat-icon>
            </div>
        </div>
    </div>
    <div class="tagging-container">
        <div class="tagging-container-header">
            <div class="tag-type-container">
                <p><b>Location</b></p>
            </div>
            <div class="tag-search-container">
                <mat-form-field style="width:100%;">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input id="location-input" class="taggable-search" placeholder="Search location around the campus" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="tagging-container">
        <div class="tagging-container-header">
            <div class="tag-type-container">
                <p><b>Interests</b></p>
            </div>
            <div class="tag-search-container">
                <mat-form-field style="width:100%;">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input id="interest-input" class="taggable-search" placeholder="Search for some interests" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>


    <mat-dialog-actions>
        <div class="bottom_button">
            <button
                mat-raised-button
                class="margin-sv"
                id="submit_btn" 
                (click)="onPost()">
                Post
            </button>
            <button
                mat-icon-button
                class="margin-sv"
                id="link_btn">
            <mat-icon>attach_file</mat-icon>
            </button>
            <button
                mat-icon-button
                class="margin-sv"
                id="link_btn">
            <mat-icon>link</mat-icon>
            </button>
        </div>
    </mat-dialog-actions>
</div>