<div id="container">
    <button
    mat-raised-button
    class= "mod_btn">
    <mat-icon>person</mat-icon>
        <span><b>Newest</b></span>
    </button>
    <button
    mat-raised-button
    class= "mod_btn" style="margin-left: 30px;">
    <mat-icon>person</mat-icon>
        <span><b>Unanswered</b></span>
    </button>
</div>

<app-xunk-spinner *ngIf="!posts"></app-xunk-spinner>

<!-- <app-event-sidebar-desktop *ngIf="posts" [isgrouppage]="true" [group]="group">

    <div center class="spaces">

        <div class="rl-header sm main-title">
            {{ 'Spaces' }}
        </div>
        <div *ngFor="let post of posts">
            <app-communitypost-card [post]="post">

            </app-communitypost-card>
        </div>


    </div>
    <button mat-mini-fab
    class="float"
    (click)="onCreate()">
<mat-icon>mode_edit</mat-icon>
</button>
   
</app-event-sidebar-desktop> -->

<app-desktop-split *ngIf="posts" center_width_percentage="62.5">
        <div center>
            <div (scroll)="onScroll($event)" class="spaces">

                <!-- <div class="rl-header sm main-title">
                    {{ 'Spaces' }}
                </div> -->
                <div *ngFor="let post of posts">
                    <app-communitypost-card [post]="post">

                    </app-communitypost-card>
                </div>


            </div>
            
        </div>

        <div right>
            <app-group-details *ngIf="group" [groupId]="group.id" noCenter="true" [desktopMode]="true">
            </app-group-details>
        </div>
    </app-desktop-split>