.em{display:inline-block;height:1em;width:1em;overflow:hidden;line-height:18px;font-size:22px;vertical-align:middle;margin-top:-4px;color:transparent!important;background:url(emoji_fb.png);background-size:4100%}
.em.em-thumbsup{background-position:37.5% 10%}
.em.em-heart{background-position:10% 25%}
.em.em-laughing{background-position:65% 52.5%}
.em.em-open_mouth{background-position:67.5% 50%}
.em.em-disappointed{background-position:67.5% 10%}
.em.em-angry{background-position:67.5% 15%}
