/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'emoji.css';

body, .image-background {
    /* Set font family */
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebee;
    --flyout-top: 0px;
}

.flyout {
    z-index: 10000;
    width: 300px;
    touch-action: pan-x;
}

/* Workaround for the abomination called Chrome for Android */
.flyout-chrome-android {
    position: absolute !important;
    top: var(--flyout-top) !important;
}

.flyout-backdrop {
    top: -70px !important;
    z-index: 9999;
    touch-action: none;
}

.sub-card {
    max-width: 500px;
    height:40px;
    margin: 5px auto;
    cursor: pointer;
}

.multi-line-text {
    white-space: pre-line;
}

.theme-header {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 10px;
}

.primary-background-color{
    background-color: var(--primary-color);
    color: white;
}

.full-width {
    width: 100%;
}

.detail-card {
    width: 100%;
    margin: auto;
    max-width: 500px;
    background-color: white;
    overflow-x: hidden;
}

.detail-card-elem {
    max-width: 500px;
    margin: auto;
}

.img-circle {
    border-radius: 50%;
}

.grey-text-on-white {
    color: #777;
}

.markdown a {
    color: rgb(10, 180, 206);
    text-decoration: none;
}

.markdown a:hover {
    color: blue;
}

.object-cover {
    object-fit: cover;
}

@media (min-width: 1256px) {
    .real-center {
        transform: translateX(-150px);
    }
}

.overflow-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
