@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-cprimary: (
    50 : #eaedff,
    100 : #cbd3ff,
    200 : #a9b6ff,
    300 : #8799fe,
    400 : #6d83fe,
    500 : #536dfe,
    600 : #4c65fe,
    700 : #425afe,
    800 : #3950fe,
    900 : #293efd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d4d8ff,
    A700 : #bbc1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-caccent: (
    50 : #fffae8,
    100 : #fff3c6,
    200 : #ffeba0,
    300 : #ffe379,
    400 : #ffdd5d,
    500 : #ffd740,
    600 : #ffd33a,
    700 : #ffcd32,
    800 : #ffc72a,
    900 : #ffbe1c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffefcd,
    A700 : #ffe8b3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary: mat-palette($md-cprimary, 500, 100, 700);
$md-accent: mat-palette($md-caccent, 500, 300, 800);
$md-warn: mat-palette($mat-red, 500, 300, 900);

$my-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$my-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

$theme: (
  primary:$md-primary,
  accent:$md-accent,
  warn:$md-warn,
  is-dark:false,
  foreground:$my-theme-foreground,
  background:$my-theme-background,
);

// Establish theme
@include angular-material-theme($theme);
