<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <img mat-card-avatar [src]="getImage()">
    <mat-card-title>{{ achievement.description }}</mat-card-title>
    <mat-card-subtitle> {{ getSubtitle() }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Status: <span [style.color]="getStatus()[1]" class="status">{{ getStatus()[0] }}</span></p>

    <ng-container *ngIf="canVerify()">
      <button mat-raised-button color="primary" (click)="dismiss(true)">
        {{ achievement.verified ? 'Unverify' : 'Verify' }}
      </button>

      <button mat-raised-button color="accent" (click)="dismiss(false)"
              [disabled]="achievement.dismissed">
        Dismiss
      </button>

      <button mat-button color="warn" (click)="delete()">
        Delete
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>
