.float-fixed-right-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.calendar-container {
    padding: 0;
    margin: auto;
    max-width: 400px;
    background-color: white;
}

#head-chip {
    width: 120px;
    text-align: center;
    margin-top: -15px;
    margin-left: calc(50% - 75px);
}
