<app-xunk-spinner *ngIf="!events || error" [error]="error"></app-xunk-spinner>

<app-event-sidebar-desktop
    *ngIf="events"
    [event]="selectedEvent">

    <div class="full-container mat-elevation-z4">
        <xunk-calendar [selectedDate]="selDate"
                       (change)="dateChanged($event)"
                       [heatmap]="getHeatMap()"
                       heatMapColor="rgb(255, 235, 59)"
                       primaryColor="#673ab7">
        </xunk-calendar>
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip color="accent" selected="true" id="head-chip">
                <div>{{ GetCount(selDate) }}</div>
            </mat-chip>
        </mat-chip-list>

        <br>

        <ng-container *ngFor="let event of GetDateEvents(selDate)">
            <mat-divider></mat-divider>
            <app-event-card
                [event]="event"
                (click)=OpenEvent(event)
                overrideClick=true>
            </app-event-card>
        </ng-container>
    </div>

</app-event-sidebar-desktop>

<button mat-fab
        [disabled]="!dataService.isLoggedIn()"
        class="float-fixed-right-bottom mat-elevation-z2"
        [routerLink]="['/add-event']"
        [queryParams]="{date: dateToDate(selDate).toDateString()}">
    <mat-icon>add</mat-icon>
</button>
