<div class="loading-spinner">
    <mat-spinner *ngIf="!events"
                  mode="indeterminate">
    </mat-spinner>
</div>

<app-event-sidebar-desktop
    *ngIf="events"
    [event]="selectedEvent">

    <div class="full-container mat-elevation-z4">
        <xunk-calendar [selectedDate]="selDate"></xunk-calendar>
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip color="accent" selected="true" id="head-chip">
                {{ GetCount(selDate) }}
            </mat-chip>
        </mat-chip-list>

        <br>

        <app-event-card *ngFor="let event of GetDateEvents(selDate)"
                        [event]="event"
                        (click)=OpenEvent(event)
                        overrideClick=true>
        </app-event-card>
    </div>

</app-event-sidebar-desktop>

<button mat-fab
        [disabled]="!dataService.loggedIn"
        class="float-fixed-right-bottom"
        [routerLink]="['/add-event']"
        [queryParams]="{date: dateToDate(selDate).toDateString()}">
    <mat-icon>add</mat-icon>
</button>
