.float-fixed-right-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.full-container {
    padding: 0;
    margin: auto;
    overflow-x: hidden;
    max-width: 400px;
    background-color: white;
}

#head-chip {
    width: 140px;
    margin-top: 0;
    margin-left: calc(50% - 70px);
}

#head-chip div {
    width: 100%;
    text-align: center
}
