.float-fixed-right-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.full-container {
    padding: 10px 12% 0 12%;
    overflow-x: hidden;
    background-color: white;
}

#head-chip {
    width: 180px;
    margin-top: 10px;
    margin-left: calc(50% - 90px);
    font-size: 0.9em;
}

#head-chip div {
    width: 100%;
    text-align: center
}

@media (min-width: 961px) and (max-width: 1200px) {
    .full-container {
        padding: 10px 3% 0 3%;
    }
}

@media (max-width: 960px) {
    .full-container {
        padding: 10px 0 0 0;
    }
}
