<div class="loading-spinner">
    <mat-spinner *ngIf="!events"
                  mode="indeterminate">
    </mat-spinner>
</div>

<div class="full-container mat-elevation-z4" *ngIf="events">
    <xunk-calendar [selectedDate]="selDate"></xunk-calendar>
    <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="accent" selected="true" id="head-chip">
            {{ GetCount(selDate) }}
        </mat-chip>
    </mat-chip-list>

    <br>
    <ng-container>
        <mat-card *ngFor="let event of GetDateEvents(selDate)"
                    (click)="openEvent(event)"
                    class="sub-card">
            <mat-card-header>
                <img mat-card-avatar [src]="event.image_url" src-fallback="/assets/placeholder.png"/>
                <mat-card-title>{{ event.name }}</mat-card-title>
                <mat-card-subtitle>{{ dataService.GetDate(event.start_time) }} | {{ event.venues_str }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </ng-container>
</div>

<button mat-fab
        [disabled]="!dataService.loggedIn"
        class="float-fixed-right-bottom"
        (click)="AddEvent()">
    <mat-icon>add</mat-icon>
</button>
