.head-card {
    height: 40px;
    background-color: #5bc7ca;
    margin-top: -10px;
    box-shadow: none !important;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
