<div class="head-card primary-background-color"
     (click)="OpenMyProfile()">
    <img class="profile-pic img-circle object-cover"
         [src]="profilePic"
         src-fallback="assets/useravatar.jpg">
    <div>
        <div>{{ userName }}</div>
        <div id="ldap">{{ ldap }}</div>
    </div>
</div>

<a [routerLink]="['/feed']"
   mat-list-item>
    <mat-icon>list</mat-icon> &nbsp; Feed
</a>

<a [routerLink]="['/my-events']"
   mat-list-item>
    <mat-icon>event</mat-icon> &nbsp; My Events
</a>

<a mat-list-item>
    <mat-icon>people</mat-icon> &nbsp; People
</a>

<a [routerLink]="['/blog/' + dataService.EncodeObject(api.PlacementBlog)]"
   mat-list-item>
    <mat-icon>rss_feed</mat-icon> &nbsp; Placement Blog
</a>

<a [routerLink]="['/blog/' + dataService.EncodeObject(api.TrainingBlog)]"
   mat-list-item>
    <mat-icon>rss_feed</mat-icon> &nbsp; Training Blog
</a>

<a href="https://gymkhana.iitb.ac.in/cms_new/"
   target="_blank"
   mat-list-item>
    <mat-icon>message</mat-icon> &nbsp; CMS
</a>

<a [routerLink]="['/calendar']"
   mat-list-item>
    <mat-icon>event_available</mat-icon> &nbsp; Calendar
</a>

<a mat-list-item>
    <mat-icon>access_time</mat-icon> &nbsp; Time Table
</a>

<a mat-list-item>
    <mat-icon>map</mat-icon> &nbsp; Map
</a>
