<div class="loader" *ngIf="!role">
  <app-xunk-spinner></app-xunk-spinner>
</div>

<div *ngIf="role" class="main full-width">

  <mat-form-field class="full-width">
    <input matInput placeholder="Role Name"
              [(ngModel)]="role.name"
              class="rl-header xs name">
  </mat-form-field>

  <div class="permissions">
    Permissions<br>
    <ng-container *ngFor="let perm of possiblePermissions">
      <button mat-button
              [class.has]="hasPermission(perm.code)"
              (click)="togglePermission(perm.code)">
        {{ perm.name }}
      </button>
    </ng-container>
  </div>

  <mat-form-field class="full-width">
    <input #roll matInput #addBox
            placeholder="Add Person"
           [matAutocomplete]="auto"
           [formControl]="addForm">

    <mat-autocomplete name="personauto" #auto (optionSelected)="addPerson($event)">
      <mat-option *ngFor="let person of explorePeople | async" [value]="person">{{person.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <table class="user-table">
    <tr *ngFor="let user of role.users_detail">
      <td>
        <app-user-card
          [profile]="user"
          [role]="user.ldap_id">
        </app-user-card>
      </td>
      <td width="40px">
        <button mat-icon-button color="warn" (click)="removePerson(user)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <div class="submit">
    <button mat-raised-button
            color="warn"
          (click)="submit()">
      Update
    </button>
  </div>

</div>
