.loader {
    position:relative;
    height: 250px;
    width: 100%;
}

.main {
    padding: 4px 0;
    margin: 4px 0;
}

.name {
    font-weight: 200;
}

.permissions {
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    font-weight: 200;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.permissions button {
    line-height: 2em;
    transition: background-color 0.2s ease;
    margin-right: 4px;
    margin-top: 2px;
}

.permissions button.has {
    background-color: var(--accent-color);
}

.user-table {
    width: 100%;
}

.submit button {
    margin: 8px 0;
}

.full-width {
    width: 100%;
}

@media (max-width: 600px) {
    .permissions button {
        width: 45%;
    }
}
