<div class="main">
  <div class="rl-header">Settings</div>

  <div *ngIf="user" class="card">
    <app-user-card
      [profile]="user"
      role="You">
    </app-user-card>
  </div>

  <div class="links">
    <a href="https://gymkhana.iitb.ac.in/sso/user/"
       mat-list-item target="_blank" rel="noopener">
        <mat-icon>account_circle</mat-icon> &nbsp; Update Profile
    </a>
    <a href="https://insti.app/feedback"
       mat-list-item target="_blank" rel="noopener">
        <mat-icon>feedback</mat-icon> &nbsp; Feedback
    </a>
    <a [routerLink]="['/about']"
        mat-list-item>
        <mat-icon>info</mat-icon> &nbsp; About
    </a>
    <a style="cursor: pointer"
      (click)="logout()"
       mat-list-item
      *ngIf="this.dataService.isLoggedIn()">
        <mat-icon>exit_to_app</mat-icon> &nbsp; Logout
    </a>
  </div>

</div>