<div id="main_container">
    <h1>Add Post</h1>
    <div class="margin-mv">
        Post Anonymously
        <mat-slide-toggle
        id="anon_toggle"
        ></mat-slide-toggle>
    </div>

    <textarea id="text_post_content">

    </textarea>

    <div id="container_add_images" class="margin-mv padding-mv center-text">
        <p>+ Add Images</p>
    </div>

    <div class="margin-mv">
        <p>Tag People</p>
        <div id="tagged_container" class="padding-mh">
           <p class="tag">tag1  X </p>
           <p class="tag">tag2  X </p> 
        </div>
    </div>

    <div class="center-text">
        <button
            mat-raised-button
            class="margin-mv"
            color="accent"
            id="submit_btn"
        >
            Submit
        </button>
    </div>
</div>
